{% load blog_tags %}
{% load static %}


<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <link href="{% static "css/blog.css" %}?{% now "U" %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="container">
            <div class="wrapper">
                <div class="nav-text">
                    <a href="{% url 'blog:published_posts' %}"><h1>My Blog</h1>
                </div></a>

                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
                
                <div id="sidebar">
                    <h2>My blog</h2>
                   <h3>Latest posts</h3>
                   {% show_latest_posts 3 %}

                   <h3>Most commented posts</h3>
                   <!--Here we calling the custom template and setting the returned
                   value to a varaible
                   {% get_most_commented_posts 3 as most_commented_posts %}
                   -->
                   {% get_most_commented_posts 3 as most_commented_posts %}
                     {% for post in most_commented_posts %}
                      {% if post.total_comments > 1 %}
                        <div class="main-contents comment-div">
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </div>
                      {% endif %}
                     {% endfor %}
                
                <p>This is my blog. I've written {% total_post %} posts so far.</p>
                    
                </div>
            </div>
            <div class="footer-div">
                <footer class="blog-footer">here is the footer</footer>
            </div>
        </div>
    </body>

</html>