{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<p>Comment on {{ post.title }}</p>
<div>
            {% for comment in comments %}
            <div class="comment">
            <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}</p>
            
            {{ comment.body|linebreaks }}

            </div>
            {% empty %}
            <p>There are no comments yet.</p>
            {% endfor %}
            </div>
<form method="post">
    {% csrf_token %}
    <div class="form-p">{{ form.as_p }}</div>
    <p><input  class="send-btn" type="submit" name="action" value="Add comment"></p>
</form>
{% endblock content %}