{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="contents-detail">
<div class="main-contents">
    <div class="details-body">
        <h1>{{ post.title }}</h1>
        <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
        {{ post.body|markdown_tag }}
        {% if request.user == post.author %}
          <a href="{% url "blog:edit_post" post.id %}"><button class="send-btn" name="action" value="edit_form" type="submit">Edit</button></a>
        {% endif %}
    </div>
    </div>
    
    <div class="similar-post">
        <h2>Similar posts</h2>
        {% for post in similar_posts %}
        <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
        {% empty %}
        <p>There are no similar posts yet.</p>
        {% endfor %}
    </div>
    
    <div class="icon-divs">
        <div class="share-share">
        <p><a href="{% url "blog:post_share" post.id %}"><i class="fas fa-share-alt fa-2x"></i>Share this post</a></p>
        </div>

        <div class="comment-post">
        <p><a href="{% url "blog:comments" post.id %}"><i class="fas fa-comments fa-2x"></i>Comment on this post</a></p>
        </div>

        {% with comments.count as total_comments %}
            <div>
                <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
            </div>
        {% endwith %}  

        <div>
            {% for comment in comments %}
            <div class="comment">
            <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}</p>
            
            {{ comment.body|linebreaks }}

            </div>
            {% empty %}
            <p>There are no comments yet.</p>
            {% endfor %}
            </div>

            <div>
                {% if new_comment %}
                    <h2>Your comment has been added.</h2>
                
                {% else %}
                    <h2>Add a new comment</h2>
                    <form method="post">
                        <div class="form-p">{{ comment_form.as_p }}</div>
                        {% csrf_token %}
                        <p><input  class="send-btn" type="submit" name="action" value="Add comment"></p>
                    </form>
                {% endif %}
            </div>
    </div>

</div>

{% endblock content %}