{% extends "blog/base.html" %}
{% block title%}Create or edit post{%endblock title%}

{% block content %}
    {% if post %}
    <form action="" method="POST">
    {% csrf_token %}

    <div class="form-p">{{ create_form.as_p }}</div>

    <input class="send-btn" type="submit" name="action" value="Save post">
    </form>
    {% else %}
        <form action="" method="POST">
        {% csrf_token %}
        <div class="form-p">{{ create_form.as_p }}</div>
        <input class="send-btn" type="submit" name="action" value="Create post">
        </form>
    {% endif %}
{%endblock content%}