* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

form button {
    margin-right: 10px;
}

.wrapper {
    min-height: 100vh;
}

#content ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:darkturquoise;
}

a:hover {
    color: coral;
}

a:active {
    color: #00ffff;
}


.blog-footer {
    display: flex;
    background-color: darkslategrey;
    color: whitesmoke;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.contents-detail {
    display: flex;
    flex-flow: column wrap;
    
    margin: 10px 5px;
    padding: 5px 10px
}

.nav-text {
    margin: 0 6px;
    padding-bottom: 8px;
    border-bottom: 2px solid grey;
}



#sidebar {
    margin: 15px 0px;
}

.send-btn {
    background-color:darkturquoise;
    color:black;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 6px;
    padding: 10px;
}

.form-p  {
    margin: 0px 0px;
}

.form-p label {
    display: flex;
    width:fit-content;
    margin-bottom: 2px;
}

.form-p input {
    padding: 5px;
}


.form-p li {
    list-style: none;
    margin: 10px 0px;
}

.details-body {
    margin-bottom: 20px;
}

.icon-divs div {
    margin: 15px 0px;
}

.icon-divs div i {
    width: 50px;
}

.share-share a {
    display: inline-flex;
    align-items: center;
}

.comment-post a{
    display: inline-flex;
    align-items: center;
}

.similar-post {
    margin-bottom: 10px;
}

.error {
    color:red;
}


/************************** List.html css **************************/
.main-contents {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid darkgoldenrod;
    margin: 10px 5px;
    padding: 5px 10px;
}

.main-contents div {
    margin-bottom: 10px;
}

.main-contents div:last-child {
    margin-bottom: 0px;
}

.items {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    gap:10px;
}


.pagination {
    margin-left: 7px;
    font-size: 1.3rem;
}
/************************* List.html css ***************************/


@media screen and (min-width: 380px) {
    body {
        color: black;
    }
    
}


/************************* Laptop screens ***************************/
@media screen and (min-width: 600px) {

    .wrapper {
        display:grid;
        grid-template-columns: 1fr 25%;
        grid-template-rows: auto 1fr;
        gap: 10px;
        padding: 10px;
    }

    #content {
        grid-column: 1;
        grid-row: 2;
        
    }

    #sidebar {
        grid-column: 2;
        grid-row: 1 / span 2;
        text-align: center;
        margin: 0;
        background-color:whitesmoke;
        padding: 5px;
        height: fit-content;
    }

    .nav-text {
        grid-column: 1;
        grid-row: 1;
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color: darkslategrey;
        padding: 8px;
    }

    .nav-user {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        
    }

    .nav-user * {
        color:darkturquoise;
    }

    .main-content-wrapper {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-rows: auto;
    }

    .post-image {
        grid-column: 2;
    }
    .post-image img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-height: 160px;
        object-fit:contain;
    }

    .main-contents {
        background-color: navajowhite;
    }

    .wrap-main-body {
        display: flex;
        flex-flow: column wrap;
    }

    .wrap-main-body form {
        align-self: flex-end;
    }

    textarea {
        width: 400px;
        height: 180px;
    }

    .comment-div {
        background-color: darkslategrey;
    }

    .input-text {
        height: 33px;
        
    }

    .tags {
        margin-top: 50px;
    }
    
    /*************************details page *******************/
    .detail-form {
        margin-top: 15px;
        gap: 20px;
    }
    /*************************details page *******************/
}
/************************* Laptop screens ***************************/